<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-sharp"></ion-back-button>
    </ion-buttons>
    <ion-title>Solicitudes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" routerLink="/main/solicitudes">Crear Solicitudes</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" fill="outline" routerLink="/main/consultar-solicitudes">Consultar Solicitudes</ion-button>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col>
        <ion-button expand="block" fill="outline">Outline</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block">Clear</ion-button>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>