<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-title>
      Mi conjunto
    </ion-title>
    <ion-item>
      <ion-toggle id="themeToggle" slot="end" (ionChange)="toggleTheme($event)"></ion-toggle>
    </ion-item> -->

    <ion-title>Mi conjunto</ion-title>
    <ion-buttons slot="end">
      <ion-toggle id="themeToggle" slot="end" (ionChange)="toggleTheme($event)"></ion-toggle>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="auth-form" [fullscreen]="true">
  <!-- <ion-title>Mi conjunto</ion-title> -->
  <!-- <ion-item>
    <ion-toggle id="themeToggle" slot="end" (ionChange)="toggleTheme($event)"></ion-toggle>
  </ion-item> -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <span class="already">Eres usuario registrado?</span>
        <ion-button [routerLink]="['/registration']" expand="block" color="danger">Registro</ion-button>
        <span class="divider line one-line">o</span>
        <ion-button [routerLink]="['/login']" expand="block" color="primary">Iniciar sesión</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>